@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-medium box-border scroll-smooth;
}

:root {
  --btn-color: linear-gradient(
    to right,
    #e61e4d 0%,
    #e31c5f 50%,
    #d70466 100%
  ) !important;
}

::placeholder {
  font-style: italic;
}

input:not([type="checkbox"], [type="date"], [type="tel"]),
textarea {
  @apply w-full border mb-2 py-2 px-3 rounded-2xl;
}

textarea {
  @apply h-28 font-normal;
}

button.primary {
  background-color: #e31c5f;
  background: var(--btn-color);
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.bg-gradient {
  background-color: #e31c5f;
  background: var(--btn-color);
}

.transition-move {
  transition-property: left, opacity;
}

.h-100 {
  height: 33rem;
}

/* ? animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-out;
}

.fade-in-in {
  animation: fade-in 0.5s ease-in;
}

.fade-in-long {
  animation: fade-in 1s ease-in;
}

/* ? loader animation */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
